* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-image:
  url('./images/Beyonce-Lemonade.jpg');
  background-repeat: no-repeat;
}

.wrapper {
  box-shadow: 1px 1px 20px 5px #3A3838;
  background-color: #FCFCFC;
  display: grid;
  grid-template-columns: 580px auto;
}

.menu-icon {
  width: 14%;
}

h1 {
  color: #1E1919;
  font-size: 30px;
  letter-spacing: 1px;
  margin-top: 2%;
}

/* Enter player names */

form {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  height: 300px;
  justify-content: space-around;
}

.input {
  background-color: #FCFCFC;
  box-shadow: 1px 1px 20px 1px #3A3838;
  color: #1E1919;
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  font-weight: 700;
  height: 55px;
  margin-top: 20%;
  padding-left: 1%;
  text-align: center;
  text-transform: uppercase;
  width: 400px
}

.input:focus {
  outline: none;
}

label {
  color: #1E1919;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 1%;
}

.player-1,
.player-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -2%;
}

.player-1 {
  margin-left: -10%;
}

.player-2 {
  margin-right: -10%;
}

/* Hidden Instruction page */

.instruction-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2 {
  color: #1E1919;
  font-size: 30px;
  letter-spacing: 1px;
  margin: 2%;
  text-align: center;
}

.player {
  color: #E1C06A;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.instruction-box {
  align-self: center;
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 1px 1px 20px 0px #3A3838;
  margin-top: 6%;
  width: 65%;
}

.instruction {
  font-weight: 400;
  font-size: 25px;
  padding: 2%;
  text-align: left;
}

.button {
  align-self: center;
  background-color: #232222;
  border: none;
  box-shadow: 1px 1px 20px 1px #3A3838;
  color: #FCFCFC;
  font-size: 24px;
  font-weight: 600;
  height: 55px;
  letter-spacing: .5px;
  margin: 6% 0 6% 0;
  width: 65%;
}

.button-1 {
  margin-top: 32%;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #E1C06A;
  box-shadow: 1px 1px 20px 1px #3A3838;
  color: #1E1919;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .5px;
  transition:all .5s ease;
}
