* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-image:
  url('./images/Beyonce-Lemonade.jpg');
  background-repeat: no-repeat;
}

.wrapper {
  background-color: rgba(252, 252, 252, 0.9);
  box-shadow: 1px 1px 15px 5px #3A3838;
  display: grid;
  grid-template-columns: 580px auto;
}

.menu-icon {
  width: 14%;
}

h1 {
  color: #1E1919;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 2%;
}

/* Enter player names */

form {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  height: 300px;
  justify-content: space-around;
}

.input {
  background-color: rgba(252, 252, 252, 0.9);
  border: none;
  box-shadow: 1px 1px 5px 1px #6E6C6C;
  color: #1E1919;
  font-size: 26px;
  font-weight: 700;
  height: 50px;
  margin-top: 20%;
  padding-left: 1%;
  text-align: center;
  text-transform: uppercase;
  width: 400px
}

.input:focus {
  outline: none;
}

.input:hover {
  color: #ECB328;
}

label {
  color: #1E1919;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 1%;
}

.player-1,
.player-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -2%;
}

.player-1 {
  margin-left: -10%;
}

.player-2 {
  margin-right: -10%;
}

/* Hidden Instruction page */

.instruction-page {
  /* background-color: rgba(252, 252, 252, 0.3); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2 {
  color: #1E1919;
  font-size: 30px;
  margin: 2%;
  text-align: center;
}

.player {
  color: #ECB328;
  font-family: 'Lalezar', sans-serif;
  font-size: 38px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.instruction-box {
  align-self: center;
  background-color: rgba(252, 252, 252, 0.7);
  box-shadow: 1px 1px 10px 0px #6E6C6C;
  margin-top: 6%;
  width: 65%;
}

.instruction {
  font-weight: 400;
  font-size: 25px;
  padding: 2%;
  text-align: left;
}

.button {
  align-self: center;
  background-color: #232222;
  border: none;
  box-shadow: 1px 1px 5px 1px #3A3838;
  color: #FCFCFC;
  font-size: 24px;
  font-weight: 600;
  height: 50px;
  margin: 6% 0 6% 0;
  width: 65%;
}

.button-1 {
  margin-top: 33%;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: rgba(236, 179, 40, 0.8);
  box-shadow: 1px 1px 10px 1px #6E6C6C;
  color: #1E1919;
  transition:all .5s ease;
}

/* Gameboard */
.gameboard {
  display: grid;
  grid-template-columns: .8fr 3fr .8fr;
  grid-template-areas:
  "left middle right"
  "left middle right";
  height: 100vh;
}

.player-1-left,
.player-2-right {
  background-color: rgba(29, 24, 24, 0.9);
  display: flex;
  flex-direction: column;
}

.player-1-left {
  grid-area: left;
  margin: 15px 0 15px 15px;
}

.player-2-right {
  grid-area: right;
  margin: 15px 15px 15px 0;
}

/* Player side divs */
.top-1,
.top-2 {
  border-bottom: 2px solid #FCFCFC;
  height: auto;
  margin: 6%;
}

.matches-1,
.matches-2 {
  border-bottom: 2px solid #FCFCFC;
  height: auto;
  margin: 0 6% 0 6%;
}

.game-wins-1,
.game-wins-2 {
  height: 60%;
  margin: 5%;
}

.gameboard-player-name {
  color: #FCFCFC;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.gameboard-matches {
  color: #FCFCFC;
  font-size: 22px;
  font-weight: 400;
  padding: 0 5% 0 5%;
}

.match-count {
  color: #FCFCFC;
  font-size: 80px;
  text-align: center;
}

.wins-1,
.wins-2 {
  color: #FCFCFC;
  font-size: 22px;
  font-weight: 700;
}

/* Card styling */
.card-container {
  background-color: rgba(252, 252, 252, 0.3);
  grid-area: middle;
  margin: 15px 0 15px 0;
}

.row-1,
.row-2,
.row-3 {
  display: flex;
  flex-direction: row;
  height: 33.3%;
  justify-content: space-around;
  width: 100%;
}

.card {
  background-image:
  url('./images/reg-beyonce.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #1E1919;
  height: 190px;
  margin: 25px;
  width: 190px;
}

.card:hover {
  background-image:
  url('./images/hover-beyonce.png');
  border: 2px solid #ECB328;
}

.card-1,
.card-3,
.card-5,
.card-7,
.card-8,
.card-10 {
  transform: rotateZ(13deg);
}

.card-2,
.card-4,
.card-6,
.card-9 {
  transform: rotateZ(-13deg);
}
